<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Preset_Maintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Preset_Maintence.Properties.Settings.Jartrek" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\jartrek\jartrek.mdb"
            providerName="System.Data.OleDb" />
        <add name="Preset_Maintenance.Properties.Settings.Jartrek" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\jartrek\jartrek.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Preset_Maintenance.Properties.Settings>
            <setting name="Chippable" serializeAs="String">
                <value>False</value>
            </setting>
        </Preset_Maintenance.Properties.Settings>
    </userSettings>
</configuration>